#about_container {
    display: flex;
    position: absolute;
    top: 10%;
    /* transform: translateX(-100vw); */
    /* transition: 0.8s ease; */
    width: 89vw;
    /* border: 1px solid black; */
    flex-wrap: wrap;
}

#about_container .flex_row {
    display: flex;
    align-items: center;
}

#about_container h2 {
    text-indent: 1em;
}

#about_container p {
    margin-left: 1.5em;
    margin-right: 1.5em;
}